@import 'react-big-calendar/lib/sass/styles';

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 4rem 2rem;
  min-height: 100%;
}
.rbc-toolbar-label {
  font-size: 75px;
  font-weight: bolder;
}

.rbc-toolbar {
  font-family: 'Architects Daughter', cursive;
  color: rgba(96, 125, 255, 0.795);
}

a {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.rbc-header {
  font-family: 'Architects Daughter', cursive;
  border-radius: 25px;
  background-color: rgba(96, 125, 255, 0.795);
}

.rbc-btn-group > button {
  border-radius: 25px;
}
.rbc-toolbar button.rbc-active {
  background-color: rgba(96, 125, 255, 0.795);
  color: white;
}
.rbc-off-range-bg {
  background-color: rgba(96, 125, 255, 0.795);
}
.rbc-date-cell .a,
.rbc-off-range {
  color: white;
}

// Add New Event Page
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.newEvent h1 {
  padding-left: 10rem;
  font-size: 50px;
}
.newEvent {
  display: flex;
}

.newEvent button {
  width: fit-content;
  height: fit-content;
  background-color: rgba(96, 125, 255, 0.795);
}
.AddNewEvent {
  margin: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 75%;
  max-height: 100%;
}
#all-day {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding-top: 2rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.eventName {
  height: 0.5in;
  border: solid black;
}
div {
  border: orange solid;
}

#starts {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding-top: 2rem;
}
#ends {
  display: flex;
  justify-content: space-between;
  font: size 20px;
  padding-top: 2rem;
}

#color {
  display: flex;
  justify-content: space-between;
  font: size 20px;
  padding-top: 2rem;
}

#img {
  display: flex;
  justify-content: space-between;
  font: size 20px;
  padding-top: 2rem;
}
#url {
  display: flex;
  justify-content: space-between;
  font: size 20px;
  padding-top: 2rem;
}
#notes {
  display: flex;

  font: size 20px;
  padding-top: 2rem;
}

footer {
  padding: 2rem;
}
